[data-bs-theme='dark'] body {
    background-color: #020617 !important;
    --main-bg-color: #020617 !important;
    --bs-body-bg: #020617 !important;
    --bs-body-bg-rgb: 2, 6, 23;
    --bs-border-color: #232F3F !important;
    /* --bs-link-color: #FFD148 !important;
    --bs-link-color-rgb: 255, 209, 72; */
}

form.filter {
    margin: 4px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ffe494;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 201, 40, 0.25);
}

#velopack-logo {
    width: 160px;
    height: 50px;
    background-image: url(/images/velopack-black.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

[data-bs-theme='dark'] #velopack-logo {
    background-image: url(/images/velopack-white.svg);
}

.toc>div {
    padding-left: 16px;
}

.toc li {
    font-weight: 500;
    font-size: 15px;
}

.toc .expand-stub::before {
    font-size: 1em;
    font-weight: 900;
    margin-top: 0.1em;
    margin-left: -1.6em;
}

.link-secondary {
    color: rgba(var(--bs-emphasis-color-rgb), var(--bs-link-opacity, .70)) !important;
    margin-left: 16px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h1 {
    border-bottom: solid 4px var(--bs-border-color);
    margin-bottom: 24px;
    padding-bottom: 8px;
}

h2 {
    border-bottom: solid 2px var(--bs-border-color);
    margin-bottom: 16px;
    margin-top: 48px;
    padding-bottom: 8px;
}

h3 {
    margin-top: 36px;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

pre {
    border-radius: 6px;
}

ul {
    margin-bottom: 16px !important;
}

.navbar-nav {
    margin-bottom: 0 !important;
}

header {
    height: 70px !important;
}