name: Promote Release (stable)

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          fetch-depth: 0
      - name: Fast-forward master branch
        run: |
          git checkout master
          git merge develop --ff-only
          git push
